<%- include('header'); -%>
  <main role="main" class="inner cover">
		<h1>Sorry! You need at least 2 sequence to start aligning or you inputting data incorrectly.</h1>
		<form action="/">
			<button class="btn-lg btn-secondary btnStyle" type="submit">Try Again</button>
		</form>
  </main>
<%- include('footer'); -%>